In [1]:
import pandas as pd
import mysql.connector
import pymysql

In [2]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '@tareq...khan',
    'database': 'company'
}

In [3]:
csv_file = 'employees.csv'
try:
    df = pd.read_csv(csv_file)
    print("CSV file loaded successfully!")
    print(df.head())
except Exception as e:
    print(f"Error loading CSV file: {e}")

CSV file loaded successfully!
   Employee_ID                Name Department  Salary
0            1  Md Tareq Shah Alam         IT   120000
1            2     Muzahidul Islam    Finance    45000
2            3               Sazib  Marketing    55000
3            4  Mahmudul Hasan Sun  Marketing    42000
4            5    Sopnil Himu Khan      Sales    86000

In [4]:
try:
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()
    print("Connected to the database!")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

Connected to the database!

In [5]:
try:
    for index, row in df.iterrows():
        cursor.execute(
            "INSERT INTO Employees (Name, Salary) VALUES (%s, %s)",
            (row['Name'], row['Salary'])
        )
    conn.commit()
    print("Data inserted into Employees table successfully!")
except Exception as e:
    print(f"Error inserting data into Employees table: {e}")

Error inserting data into Employees table: 'Salary'

In [16]:
# Getting error to load the data into the database table.

In [17]:
print(df.columns)
print(df.head())

Index(['Employee_ID', 'Name', 'Department', 'Salary '], dtype='object')
   Employee_ID                Name Department  Salary
0            1  Md Tareq Shah Alam         IT   120000
1            2     Muzahidul Islam    Finance    45000
2            3               Sazib  Marketing    55000
3            4  Mahmudul Hasan Sun  Marketing    42000
4            5    Sopnil Himu Khan      Sales    86000

In [18]:
# forcing to fix the issue by doing rename of it

In [19]:
df.rename(columns={'ActualSalaryColumnName': 'Salary', 'ActualNameColumnName': 'Name'}, inplace=True)

In [20]:
df = pd.read_csv('employees.csv')
print(df.head())

   Employee_ID                Name Department  Salary
0            1  Md Tareq Shah Alam         IT   120000
1            2     Muzahidul Islam    Finance    45000
2            3               Sazib  Marketing    55000
3            4  Mahmudul Hasan Sun  Marketing    42000
4            5    Sopnil Himu Khan      Sales    86000

In [21]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['employee_id', 'name', 'department', 'salary'], dtype='object')

In [22]:
# Now trying to adjust the logic

In [23]:
for index, row in df.iterrows():
    cursor.execute(
        "INSERT INTO Employees (Name, Salary) VALUES (%s, %s)",
        (row['name'], row['salary']) 
    )
conn.commit()

In [25]:
try:
    print("Columns in DataFrame:", df.columns)
    df.rename(columns={'ActualSalaryColumnName': 'Salary', 'ActualNameColumnName': 'Name'}, inplace=True)
    for index, row in df.iterrows():
        cursor.execute(
            "INSERT INTO Employees (Name, Salary) VALUES (%s, %s)",
            (row['Name'], row['Salary'])
        )
    conn.commit()
    print("Data inserted into Employees table successfully!")
except Exception as e:
    print(f"Error inserting data into Employees table: {e}")

Columns in DataFrame: Index(['employee_id', 'name', 'department', 'salary'], dtype='object')
Error inserting data into Employees table: 'Name'

In [26]:
try:
    cursor.execute("SELECT Name, Salary FROM Employees WHERE Salary > 100000")
    high_salary_records = cursor.fetchall()

    for record in high_salary_records:
        cursor.execute(
            "INSERT INTO EmployeeHighSalary (Name, HighSalary) VALUES (%s, %s)",
            record
        )
    conn.commit()
    print("High salary data inserted into EmployeeHighSalary table successfully!")
except Exception as e:
    print(f"Error processing high salary data: {e}")

Error processing high salary data: 1054 (42S22): Unknown column 'Name' in 'field list'

In [27]:
try:
    cursor.execute("SELECT Name, Salary FROM Employees WHERE Salary > 100000")
    high_salary_records = cursor.fetchall()

    for record in high_salary_records:
        cursor.execute(
            "INSERT INTO EmployeeHighSalary (Name, HighSalary) VALUES (%s, %s)",
            record
        )
    conn.commit()
    print("High salary data inserted into EmployeeHighSalary table successfully!")
except Exception as e:
    print(f"Error processing high salary data: {e}")

Error processing high salary data: 1054 (42S22): Unknown column 'Name' in 'field list'

In [29]:
try:
    tables = ['Employees', 'EmployeeHighSalary']
    for table in tables:
        cursor.execute(f"SELECT * FROM {table}")
        rows = cursor.fetchall()
        print(f"\nContents of table {table}:")
        for row in rows:
            print(row)
except Exception as e:
    print(f"Error displaying table contents: {e}")

Contents of table Employees:
(1, 'Muzahid', Decimal('120000.00'), 2)
(2, 'Hapang', Decimal('95000.00'), 3)
(3, 'Sazib', Decimal('105000.00'), 1)
(4, 'Dibbendu', Decimal('85000.00'), 4)
(5, 'Rinku', Decimal('80000.00'), 1)
(6, 'Md Tareq Shah Alam', Decimal('120000.00'), None)
(7, 'Muzahidul Islam', Decimal('45000.00'), None)
(8, 'Sazib', Decimal('55000.00'), None)
(9, 'Mahmudul Hasan Sun', Decimal('42000.00'), None)
(10, 'Sopnil Himu Khan', Decimal('86000.00'), None)
(11, 'Jim Al Sadik', Decimal('56000.00'), None)
(12, 'Sakib Haque Zishan', Decimal('47000.00'), None)
(13, 'Sheikh Arafa Hossain', Decimal('36000.00'), None)
(14, 'Md Tousif Rahman', Decimal('43000.00'), None)
(15, 'Rashidul Rimon', Decimal('40000.00'), None)

Contents of table EmployeeHighSalary:
(1, 1, Decimal('120000.00'))
(2, 3, Decimal('105000.00'))

In [33]:
cursor.close()
conn.close()
print(
    " Successfully loaded all the data from Database and MySQL workbench.\n"
    " Now the connection has been closed.\n"
    " To check your confusion, please start operation from the beginning. \n"
    "Warm Regards, \n"
    "Md Tareq Shah Alam."
)

 Successfully loaded all the data from Database and MySQL workbench.
 Now the connection has been closed.
 To check your confusion, please start operation from the beginning.
Warm Regards,
Md Tareq Shah Alam.